.hot
    font-family: Poppins-Light
    .carousel
        font-family: Poppins-Light
        overflow: hidden
        width: 49vw
        margin: 0 5vw 
        font-weight: bold
        text-align: center
        @include media-breakpoint-down(sm)
            display: flex
            justify-content: center
            align-items: center
            padding-right: 0px
            margin-left: 0px
            width: 60vw
        @include media-breakpoint-down(lg)
            width: 90vw 
        .sale
            padding: 5px
            text-align: center
.none
    list-style: none
    justify-content: center
    align-items: center
    display: flex
    color: black
    font-size: 22px        
    a
        color: black
    a:hover 
    color: black
    text-decoration: underline
