header
    h1
        text-align: center
        font-family: Poppins-Light
        margin-top: 10px
    nav
        font-family: Poppins-Light
        .nav1
            @include media-breakpoint-only(sm)
            display: flex
            justify-content: center
            align-items: center
            left: 50%
        .collapse 
            display: flex
            align-items: center
            justify-content: center
            margin: 16px
            margin-top: 25px
            ul
                margin: 10px
                li
                    margin: 10px
                    .black, .blanc
                        border-radius: 5px
                        height: 30px
                        width: 30px
                        border: 1px solid grey
                .sign
                    width: 130px
                    height: 50px
                #emporium2
                    display: none
.sticky 
    position: fixed
    top: 0
    width: 100%
    background-color: white
    z-index: 1000
    border-bottom: 2px solid grey